<button mat-icon-button (click)="cambiarVista('grid')" [disabled]="vistaActiva==='grid'">
  <mat-icon fontIcon="grid_view"></mat-icon>
</button>

<button mat-icon-button (click)="cambiarVista('lista')" [disabled]="vistaActiva==='lista'">
  <mat-icon fontIcon="view_list"></mat-icon>
</button>

<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" (selectedTabChange)="cambiaEstado()">
    <mat-tab label="Ver todas">
      <app-card [estado]="estado" *ngIf="vistaActiva === 'grid'"></app-card>
      <app-list [estado]="estado" *ngIf="vistaActiva === 'lista'"></app-list>
    </mat-tab>
    <mat-tab label="Confirmadas" >
      <ng-template matTabContent>
        <app-card [estado]="estado"*ngIf="vistaActiva === 'grid'" ></app-card>
        <app-list [estado]="estado" *ngIf="vistaActiva === 'lista'"></app-list>
       </ng-template>
    </mat-tab>
    <mat-tab label="Por Confirmar">
      <ng-template matTabContent>
        <app-card [estado]="estado" *ngIf="vistaActiva === 'grid'"></app-card>
        <app-list [estado]="estado" *ngIf="vistaActiva === 'lista'"></app-list>
       </ng-template>
    </mat-tab>
    <mat-tab label="Canceladas">
      <ng-template matTabContent>
        <app-card [estado]="estado" *ngIf="vistaActiva === 'grid'"></app-card>
        <app-list [estado]="estado" *ngIf="vistaActiva === 'lista'"></app-list>
       </ng-template>
    </mat-tab>
    <mat-tab label="Completadas" >
      <ng-template matTabContent>
        <app-card [estado]="estado" *ngIf="vistaActiva === 'grid'"></app-card>
        <app-list [estado]="estado" *ngIf="vistaActiva === 'lista'"></app-list>
       </ng-template>
    </mat-tab>
  </mat-tab-group>

