
<div *ngIf="estado !== 'Todas'" class="Listado-Card">
  <ng-container *ngFor="let paciente of citas">
    <div class="card-container" *ngIf="paciente.Estado === estado">
      <mat-card class="paciente-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ paciente.Hora }}</mat-card-title>
          <p class="card-text">{{ paciente.Estado }}</p>
        </mat-card-header>
      </mat-card>
    </div>
  </ng-container>
</div>


  <div *ngIf="estado ==='Todas'" class="Listado-Card" >
  <div *ngFor="let paciente of citas" class="card-container">
  <mat-card class="paciente-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ paciente.Hora }}</mat-card-title>
      <p class="card-text">{{ paciente.Estado }}</p>
    </mat-card-header>
    </mat-card>
  </div>
</div>
 
  
