ul {
    list-style-type: none;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 40px; 
  }
  
  .paciente-card {
    display: flex; 
    justify-content: center; 
  }
  
  .mat-card {
    width: 40%; 
  }