ul {
    list-style-type: none;
  }

  .Listado-Card{
    display: flex;
    flex-wrap: wrap;
  }
 
  .card-container {
    width: 50%;
  }
  
  .paciente-card {
    width: 90%; 
    display:grid;
    margin: 1%; 
  }
  
  .mat-card {
    width: 40%; 
  }