ul {
    list-style-type: none;
  }

  .Listado-Card{
    display: flex;
    flex-wrap: wrap;
  }
 
  .card-container {
    width: 50%;
  }
  
  
  .paciente-card {
    width: 90%; 
    display:grid;
    margin: 1%; 
  }
  
  .mat-card {
    width: 40%; 
  }
  .avatar {
    width: 10%;
    height: 10%;
    border-radius: 40%;
    background-color: #ccc;
    margin-right: 1%;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }