

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}


.mat-mdc-list-base,
.mdc-list-item__primary-text {
    --mdc-list-list-item-label-text-color: black !important;
}
.mdc-list-item:hover .mdc-list-item__primary-text {
    --mdc-list-list-item-hover-label-text-color:black;
}

.mat-mdc-button:not(:disabled) {
    color: black !important;
}

.mat-mdc-icon-button:disabled {
    --mdc-icon-button-disabled-icon-color: rgba(109, 101, 101, 0.602) !important;
}
.mat-mdc-card{
    --mdc-elevated-card-container-color: transparent;
}

